{#
 # Footer component
 # Usage example:
 #      {{ include('_footer.html.twig') }}
 #}
<div class="footer">
    <div class="footer-text">
        Created by I-Sepp OÜ - <a href="http://i-smith.ee/">www.i-smith.ee</a>
    </div>
</div>
