{#
 # Header component
 # Usage example:
 #      {{ include('_footer.html.twig') }}
 #}
<div class="header">
    <img src="/images/notebook.svg" class="header-pic"/>
    <span class="header-heading">
        Bookings App
    </span>
</div>
